## TUPLE

In [79]:
a = 1,2,3
a

(1, 2, 3)

In [80]:
a = (1,2,3)
a

(1, 2, 3)

In [82]:
# tuple method can convert other object to tuple. 
a= tuple([1,2,3]) 
a

(1, 2, 3)

In [83]:
# For complicated expression you can use parantheses
b = 4,5,6

tup = (a,b)
tup

((1, 2, 3), (4, 5, 6))

In [84]:
# Elements can be accessed using []
print(a[0],b[1],tup[1])

1 5 (4, 5, 6)

In [85]:
# elements can not be modified
# 'tuple' object does not support item assignment
tup[0]=(1,2,9)

TypeError: 'tuple' object does not support item assignment

In [86]:
c= [8,9,10]
tup = (a,b,c)
tup

((1, 2, 3), (4, 5, 6), [8, 9, 10])

In [89]:
tup[2][1] = 12
tup

((1, 2, 3), (4, 5, 6), [8, 12, 10])

In [94]:
# methods of mutable object can be performed on mutable object inside a tuple
tup[2].append(13)
print(tup)
tup[2].insert(2,3)
tup

((1, 2, 3), (4, 5, 6), [8, 12, 10, 13, 13, 13])

((1, 2, 3), (4, 5, 6), [8, 12, 3, 10, 13, 13, 13])

In [90]:
# But we can modify mutable object inside a tuple
tup1 = tuple(([3,4],2))
tup1[0][1]=5
tup1

([3, 5], 2)

In [95]:
# using tuple method you can convert any other object type to list
list = ['a','b','c']
print(list)
tup2 = tuple(list)
tup2

['a', 'b', 'c']

('a', 'b', 'c')

In [96]:
# we can concatenate tuple using + operator
tup3 = tup1 + tup2
tup3

([3, 5], 2, 'a', 'b', 'c')

In [97]:
# If we do multiplication on tuple with integer, it will concatenate that many times of integer value
tup1*2

([3, 5], 2, [3, 5], 2)

In [98]:
#unpacking tuples
# sequence is also maintained
tup = (4,5,6)
a,b,c = tup
a,b,c

(4, 5, 6)

In [99]:
# value swapping in traditional programming language
print(a,b)
tmp = a
a = b
b= tmp
print(a,b)
# But in python we can swap directly
a,b = b,a
print(a,b)

4 5
5 4
4 5

In [108]:
values =10,11,12,13,14,10
a,b,c,*d = values
d

[13, 14, 10]

In [107]:
values =10,11,12,13,14
a,b,*rest = values
rest

[12, 13, 14]

In [111]:
# tuple methods : count() and index() both takes only 1 argument i.e. element
print(values.count(10),values.index(13))

2 3

## LIST

In [2]:
a_list = [1,2,3,4]
a_list

[1, 2, 3, 4]

In [1]:
list1 = [1,2,3]
list1

[1, 2, 3]

In [5]:
b_list = list(range(0,5,2))
b_list

[0, 2, 4]

In [6]:
b_list = list(range(5))
b_list

[0, 1, 2, 3, 4]

In [7]:
#tuple creation
a = 'a','b',1
a

('a', 'b', 1)

In [8]:
a = 1,2,3
print(a)
c_list = list(a)
c_list

(1, 2, 3)

[1, 2, 3]

In [9]:
# list can contain tupple
list1 = [1,2,(3,4)]
list1

[1, 2, (3, 4)]

# List methods
append()
clear()
copy()
count()
extend()
index()
insert()
pop()
remove()
reverse()
sort()

In [18]:
# append adds element at last position
print(a_list)
a_list.append(5)
a_list

[1, 2, 3]

[1, 2, 3, 5]

In [17]:
tup1 = (6,7)
#a_list.append(tup1)
a_list
a_list.pop()
a_list

[1, 2, 3]

In [19]:
# clear does not take any argument but removes all elements from list
a_list.clear()
a_list

[]

In [21]:
# it copies existing list to any other variable
a_list = b_list.copy()
a_list

[0, 1, 2, 3, 4]

In [24]:
# counts a particular element in list
a_list.count(2)

2

In [25]:
#  insert function insert an element at specified position: insert(position,value)
a_list.insert(2,6)
a_list

[0, 1, 6, 2, 2, 3, 4]

In [27]:
# extend() : merge two lists or insert multiple elements in one list.
# also extend is faster than append
a_list.extend([11,11])
a_list

[0, 1, 6, 2, 2, 3, 4, 9, 10, 11, 11]

In [28]:
# difference between append , extend and insert
a_list.append([11,12])
a_list

[0, 1, 6, 2, 2, 3, 4, 9, 10, 11, 11, [11, 12]]

In [29]:
# insert() insert the element at particular position, list.insert(position,value)
a_list.insert(2,9)
a_list

[0, 1, 9, 6, 2, 2, 3, 4, 9, 10, 11, 11, [11, 12]]

In [32]:
# index gives index position of first occurance of the element, index(element)
a_list.index(9)

2

In [33]:
# pop() takes out last element from list
a_list.pop()
a_list

[0, 1, 9, 6, 2, 2, 3, 4, 9, 10, 11, 11]

In [35]:
# removes first occurance of the specified element remove(element)
a_list.remove(11)
a_list

[0, 1, 9, 6, 2, 2, 3, 4, 9, 10, 11]

In [36]:
# reverse(): it reverses all elements from last to first.
a_list.reverse()
a_list

[11, 10, 9, 4, 3, 2, 2, 6, 9, 1, 0]

In [40]:
11 not in a_list

False

In [41]:
# Checking element in list
# checking element in list is really faster because python does linear scan accross list value whereas for other objects it has to go through hash tables
print(3 in a_list,3 not in a_list)

True False

In [43]:
# sort(key=None,reverse=False) : it sorts all element of list in ascending order by default
# by default in ascending order but can be changed to descending order by making sort(reverse = True)
a_list.sort() # ascending order
print("Ascending order : ",a_list)
a_list.sort(reverse=True) # descending order
print("Descending order : ",a_list)

Ascending order :  [0, 1, 2, 2, 3, 4, 6, 9, 9, 10, 11]
Descending order :  [11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0]

In [44]:
#a_list.sort(key=len)
c_list= ['a','ab','abcde','abcd','abc']
c_list.sort(key=len)
print("Asceding order of string based on length of string : ",c_list)
c_list.sort(key=len,reverse=True) # descending order
print("Asceding order of string based on length of string : ",c_list)

Asceding order of string based on length of string :  ['a', 'ab', 'abc', 'abcd', 'abcde']
Asceding order of string based on length of string :  ['abcde', 'abcd', 'abc', 'ab', 'a']

In [47]:
#Concatenating list using + operator same like tuple
d_list = a_list + c_list
print(a_list,c_list)
d_list

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0] ['abcde', 'abcd', 'abc', 'ab', 'a']

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 'abcde', 'abcd', 'abc', 'ab', 'a']

In [50]:
# multiplication will do concatenation that many times of specified value
a_list*2
# Concatenating list by using + operator is expensive because new list to be created and object to be copied over. 
# use extend is faster and convenient , prefer it.

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0]

In [51]:
## Optional not much important
# to know where exactly the elements should be placed
# bisect does not check that list is sorted or not. 
print(a_list)
import bisect
bisect.bisect(a_list,4)

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0]

11

In [52]:
# insort() actuall keeps the element at that place
bisect.insort(a_list,8)
a_list

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 8]

In [53]:
## very important
# Slicing
a_list[2:5]

[9, 9, 6]

In [54]:
a_list[:2]

[11, 10]

In [57]:
a_list[2:]
a_list[-4:-2]

[2, 1]

In [2]:
a_list = [11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 8]
print(a_list[-3])

1

In [58]:
print(a_list[3:],a_list[-3:],a_list[-3:-2])

[9, 6, 4, 3, 2, 2, 1, 0, 8] [1, 0, 8] [1]

In [61]:
print(a_list)
print(a_list[::2])
a_list[::3]

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 8]
[11, 9, 6, 3, 2, 0]

[11, 9, 3, 1]

In [62]:
print(a_list)
# Take every other element except element using :: 
print(a_list[::2],a_list[::3])

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 8]
[11, 9, 6, 3, 2, 0] [11, 9, 3, 1]

In [64]:
# reverse the list using slicing concept
a_list[::-2]

[8, 1, 2, 4, 9, 10]

In [66]:
a_list[::-3]

[8, 2, 4, 9]

In [67]:
c_list

['abcde', 'abcd', 'abc', 'ab', 'a']

## Built-in Sequence Functions 
enumerate(sequence),sorted(sequence),zip(seq1,seq2,...),reversed(sequence)

In [70]:
# enumerate : keeps track of position and value. It returns a sequence of (i,value) tuples:
copy_list = {}
for i,v in enumerate(c_list):
    copy_list[i]=v

In [71]:
print(c_list)
copy_list

['abcde', 'abcd', 'abc', 'ab', 'a']

{0: 'abcde', 1: 'abcd', 2: 'abc', 3: 'ab', 4: 'a'}

In [72]:
# sorted method accept the same argument as sort method in list
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [76]:
# zip pairs up the elements of a number of lists, tuples or other sequences to create a list of tuples
seq1 = ['a','b','c']
seq2 = ['d','e','f']
seq3 = (True,False,True)
zipped = zip(seq1,seq2,seq3)
list(zipped)

[('a', 'd', True), ('b', 'e', False), ('c', 'f', True)]

In [77]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:a,d
1:b,e
2:c,f

In [78]:
# reversed method
print(list(range(10)))
list(reversed(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Dictionary

In [97]:
# key value pair, use {} to create dictionary
dict1 = {}
dict2 = {'a':1,'b':2,'c':3}
dict2

{'a': 1, 'b': 2, 'c': 3}

In [100]:
list(range(5))
list(reversed(range(5)))

[4, 3, 2, 1, 0]

In [101]:
# we can create dictionary using dict method also
dict3 = dict(zip(range(5),reversed(range(5))))
dict3

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [2]:
# accessing elements
dict2['a']

1

In [102]:
dict2['c']

3

In [103]:
# 
dict2['a'] = 9
dict2

{'a': 9, 'b': 2, 'c': 3}

In [104]:
dict2.keys()

dict_keys(['a', 'b', 'c'])

In [105]:
dict2.values()

dict_values([9, 2, 3])

In [106]:
print(dict2)
dict1

{'a': 9, 'b': 2, 'c': 3}

{}

In [108]:
'b' in dict2

True

In [109]:
'c' not in dict2

False

In [110]:
'd' not in dict2

True

In [111]:
dict2['d'] = 4
dict2['e'] = 5
dict2

{'a': 9, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [112]:
del dict2['d']
dict2

{'a': 9, 'b': 2, 'c': 3, 'e': 5}

In [115]:
# list can not be as key in dictionary but it can be as value
#dict5 = {[1,2]:'a'}
dict6 = {'a':[1,2]}
#dict5
dict6

{'a': [1, 2]}

In [116]:
dict5 = {(1,2):'a'}
dict5

{(1, 2): 'a'}

In [118]:
# tuple can be as key and value inside dictionary
dict7 = {'a':(1,2)}
dict7
dict7['a'] = 5
dict7

{'a': 5}

## dictionary methods : 
clear, copy, fromkeys,get,items,keys, pop, popitem,setdefault,update,values

In [120]:
dict2

{'a': 9, 'b': 2, 'c': 3, 'e': 5}

In [121]:
dict1 = dict2.copy()
dict1

{'a': 9, 'b': 2, 'c': 3, 'e': 5}

In [122]:
dict1.clear()
dict1

{}

In [124]:
print(dict2.fromkeys({'a','b'}))
dict2.fromkeys({'a','b','c'},[1])

{'a': None, 'b': None}

{'a': [1], 'b': [1], 'c': [1]}

In [125]:
test_dict = dict.fromkeys(keys,value)
test_dict

{'a': [1, 2], 'e': [1, 2], 'i': [1, 2], 'o': [1, 2], 'u': [1, 2]}

In [130]:
# all values of this kind of dictionary can be changed
test_dict['a'].append(3)
test_dict

{'u': [1, 2, 3],
 'e': [1, 2, 3],
 'o': [1, 2, 3],
 'a': [1, 2, 3],
 'i': [1, 2, 3],
 0: [1, 2, 3]}

In [134]:
#dict2['f']= [1,2]
#dict2
dict2['f'].append(3)
dict2

{'a': 9, 'b': 2, 'c': 3, 'e': 5, 'f': [1, 2, 3]}

In [135]:
# fromkeys(sequence,value-optional): returns a dictionary from a given sequence of value by user. 
keys = {'a', 'e', 'i', 'o', 'u' }
vowels = dict.fromkeys(keys)
print(vowels)
value = [1,2]
dict.fromkeys(keys,value)

{'u': None, 'e': None, 'o': None, 'a': None, 'i': None}

{'a': [1, 2], 'e': [1, 2], 'i': [1, 2], 'o': [1, 2], 'u': [1, 2]}

In [136]:
print(dict2)

{'a': 9, 'b': 2, 'c': 3, 'e': 5, 'f': [1, 2, 3]}

In [148]:
# get method is used to check the key is present in dictionary or not, if not set some value as default(optional)
dict2.get('g',5)

5

In [149]:
dict2

{'a': 10, 'ab': 10, 'b': 2, 'bd': 11, 'c': 3, 'cd': 12, 'e': 5, 'f': [1, 2, 3]}

In [143]:
print(dict2)
test_dict1 = {'ab':10,'bd':11,'cd':12,'a':10}
dict2.update(test_dict1)
dict2

{'a': 9, 'b': 2, 'c': 3, 'e': 5, 'f': [1, 2, 3]}

{'a': 10, 'ab': 10, 'b': 2, 'bd': 11, 'c': 3, 'cd': 12, 'e': 5, 'f': [1, 2, 3]}

In [144]:
# Update() - We can merge one dict into another using the update method
# in case any existing key value is passed, old value will be discarded
dict2.update({'ab':10,'bd':11,'cd':12,'a':10})
dict2

{'a': 10, 'ab': 10, 'b': 2, 'bd': 11, 'c': 3, 'cd': 12, 'e': 5, 'f': [1, 2, 3]}

In [145]:
dict2.keys()

dict_keys(['a', 'b', 'c', 'e', 'f', 'ab', 'bd', 'cd'])

In [146]:
dict2.values()

dict_values([10, 2, 3, 5, [1, 2, 3], 10, 11, 12])

In [57]:
# get methods : returns key value if there in diction otherwise by default None . if you specify value that will be returned
#dict.get(key[, value])
print(dict2)
print(dict2.get('c'))
dict2.get('g',5)

{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'ab': 10, 'bd': 11}
3

5

In [30]:
# pop takes one argument i.e. key it will take out that element completely from dictionary
dict2.pop('cd')
dict2

{'a': 10, 'ab': 10, 'b': 2, 'bd': 11, 'c': 3, 'd': 4}

In [156]:
dict2.pop('h')
dict2

TypeError: pop expected at least 1 arguments, got 0

In [157]:
dict2

{'a': 10,
 'ab': 10,
 'b': 2,
 'bd': 11,
 'c': 3,
 'cd': 12,
 'e': 5,
 'f': [1, 2, 3],
 'g': 10}

In [158]:
# popitem(): pops last pair and shows the key value which has been taken out.
print(dict2)
removed = dict2.popitem()
removed

{'a': 10, 'b': 2, 'c': 3, 'e': 5, 'f': [1, 2, 3], 'ab': 10, 'bd': 11, 'cd': 12, 'g': 10}

('g', 10)

In [159]:
dict4 = dict(zip(['a','b'],[1,2]))
dict4

{'a': 1, 'b': 2}

In [160]:
# items method :returns a view object that displays a list of a given dictionary's (key, value) tuple pair.
dict2.items()

dict_items([('a', 10), ('b', 2), ('c', 3), ('e', 5), ('f', [1, 2, 3]), ('ab', 10), ('bd', 11), ('cd', 12)])

In [68]:
#setdefault: returns the value of a key (if the key is in dictionary). If not, it inserts key with a value to the dictionary.
# dict.setdefault(key[, default_value])
print(dict2.setdefault('c'))
dict2.setdefault('f',22)

None

In [73]:
dict2.setdefault('c',10)

In [74]:
dict2

{'a': 10, 'b': 2, 'c': None, 'f': None}

In [151]:
dict2.setdefault('g',10)
print(dict2)
dict2.setdefault('h')
dict2

{'a': 10, 'b': 2, 'c': 3, 'e': 5, 'f': [1, 2, 3], 'ab': 10, 'bd': 11, 'cd': 12, 'g': 10}

{'a': 10,
 'ab': 10,
 'b': 2,
 'bd': 11,
 'c': 3,
 'cd': 12,
 'e': 5,
 'f': [1, 2, 3],
 'g': 10,
 'h': None}

In [154]:
dict2.setdefault('a',11)
dict2

{'a': 10,
 'ab': 10,
 'b': 2,
 'bd': 11,
 'c': 3,
 'cd': 12,
 'e': 5,
 'f': [1, 2, 3],
 'g': 10,
 'h': None}

In [77]:
dict2

{'a': 10, 'b': 2, 'c': None, 'f': None, 'g': 10}

In [161]:
dict2['c'] = 12
dict2['f'] = 14

In [162]:
dict2

{'a': 10, 'ab': 10, 'b': 2, 'bd': 11, 'c': 12, 'cd': 12, 'e': 5, 'f': 14}

## Set

A set is an unordered collection of unique elements. Its  like dictionary but no values
It can be created by 2 ways : 1) set function 2) elements in curly braces{}

In [164]:
set([2,2,2,1,3,3,4,5])

{1, 2, 3, 4, 5}

In [163]:
set([1,1,2])

{1, 2}

In [165]:
set1 = {1,2,3,3,4,4,5,5}
set1

{1, 2, 3, 4, 5}

Set support mathematical set operations like union, intersection, difference and symmetrical difference

In [166]:
set2 = {3,3,4,4,4,7,7,8,9}
set2

{3, 4, 7, 8, 9}

In [167]:
# union keyword
set1.union(set2)

{1, 2, 3, 4, 5, 7, 8, 9}

In [168]:
# union: pipe operator 
set1 | set2

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
i +=1 => i = i+1

In [169]:
a = set([1,1,2,3])
b = set([2,2,3,4,5,5])
a |=b  # a|=b => a = a|b

In [171]:
print(a,b)

{1, 2, 3, 4, 5} {2, 3, 4, 5}

In [172]:
# intersection id done by 2 ways intersection keyword and & operator.
print(set1,set2)
set1.intersection(set2)

{1, 2, 3, 4, 5} {3, 4, 7, 8, 9}

{3, 4}

In [173]:
# intersection : &
set1 & set2

{3, 4}

In [175]:
a&b
a &= b # a = a&b
a

{2, 3, 4, 5}

## set methods
add,clear,copy,difference,difference_update,discard,intersection,intersection_update,isdisjoint,issubset

In [177]:
# add(element)
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [187]:
# copy method
c = set1.copy()
c

{1, 2, 3, 4, 5, 6}

In [179]:
c.clear()
c

set()

In [181]:
# remove(x) method
c = set1.copy()
print(c)
c.remove(3)
c

{1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}

In [188]:
# pop method removes element from first position.
c.pop()
c

{2, 3, 4, 5, 6}

In [190]:
# update method
a.add(6)
a.add(7)
print(a,b)
a |=b
a

{2, 3, 4, 5, 6, 7} {2, 3, 4, 5}

{2, 3, 4, 5, 6, 7}

In [192]:
b.add(8)
b.add(9)
a.update(b)
a

{2, 3, 4, 5, 6, 7, 8, 9}

In [193]:
# intersection_update method
a.intersection_update(b) # a &=b
a

{2, 3, 4, 5, 8, 9}

In [195]:
# difference
a.add(10)
a.add(11)
b.add(29)
print(a,b)
a-b

{2, 3, 4, 5, 8, 9, 10, 11} {2, 3, 4, 5, 8, 9, 29}

{10, 11}

In [196]:
# difference method 
a.difference(b)

{10, 11}

In [197]:
print(a,b)
a.difference_update(b) # a = a-b => a -= b

{2, 3, 4, 5, 8, 9, 10, 11} {2, 3, 4, 5, 8, 9, 29}

In [200]:
# symmetric difference = a^b => all the elements in either a or b but not in both
print(a,b)
a^b

{10, 11} {2, 3, 4, 5, 8, 9, 29}

{2, 3, 4, 5, 8, 9, 10, 11, 29}

In [201]:
a.add(2)
a.add(3)
a.symmetric_difference(b) # a^b

{4, 5, 8, 9, 10, 11, 29}

In [203]:
print(a)
#a ^= b   # a = a^b
a.symmetric_difference_update(b) # a ^=b
a

{2, 3, 10, 11}

{4, 5, 8, 9, 10, 11, 29}

In [90]:
my_data = [1,2,3,4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [204]:
a_set = {1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [205]:
{1,2,3,6}.issubset(a_set)

False

In [206]:
a_set.issuperset({1,2,3})

True

In [207]:
a_set.issuperset({1,2,3,6})

False

In [208]:
# if a and b does not have common element return True else False
a.isdisjoint(b)

False

In [210]:
{1,2}.isdisjoint({3,4})

True

In [211]:
# sets are equal if and only if their contents are equal:
{1,2,3} == {1,2,3}

True

In [212]:
a == b

False

## Comprehensions 
List,set and Dictionary Comprehensions
## [expr for val in collection if condition]

In [3]:
list1 = ['a','b','c','t','r','bat','cat','rat']
[x.upper() for x in list1 if len(x)>2]

['BAT', 'CAT', 'RAT']

In [5]:
[x.upper() for x in list1 if len(x)<3]

['A', 'B', 'C', 'T', 'R']

In [215]:
# expression should be enclosed within square bracket []
[len(x) for x in list1]

[1, 1, 1, 1, 1, 3, 3, 3]

## Conditional Statement

In [219]:
a = 5
if a>0:
    print('positive')
elif a==0:
    print('a is 0')
else:
    print('a is negative')

positive

## for loop

In [220]:
list1 = [1,2,3,4,5]
for i in list1:
    print(i)

1
2
3
4
5

## While loop

In [4]:
i = 5
while i<=5:
    print(i)
    if i==0:
        break
    i -=1

5
4
3
2
1
0