## TUPLE

In [79]:
a = 1,2,3
a

(1, 2, 3)

In [80]:
a = (1,2,3)
a

(1, 2, 3)

In [82]:
# tuple method can convert other object to tuple. 
a= tuple([1,2,3]) 
a

(1, 2, 3)

In [83]:
# For complicated expression you can use parantheses
b = 4,5,6

tup = (a,b)
tup

((1, 2, 3), (4, 5, 6))

In [84]:
# Elements can be accessed using []
print(a[0],b[1],tup[1])

1 5 (4, 5, 6)

In [85]:
# elements can not be modified
# 'tuple' object does not support item assignment
tup[0]=(1,2,9)

TypeError: 'tuple' object does not support item assignment

In [86]:
c= [8,9,10]
tup = (a,b,c)
tup

((1, 2, 3), (4, 5, 6), [8, 9, 10])

In [89]:
tup[2][1] = 12
tup

((1, 2, 3), (4, 5, 6), [8, 12, 10])

In [94]:
# methods of mutable object can be performed on mutable object inside a tuple
tup[2].append(13)
print(tup)
tup[2].insert(2,3)
tup

((1, 2, 3), (4, 5, 6), [8, 12, 10, 13, 13, 13])

((1, 2, 3), (4, 5, 6), [8, 12, 3, 10, 13, 13, 13])

In [90]:
# But we can modify mutable object inside a tuple
tup1 = tuple(([3,4],2))
tup1[0][1]=5
tup1

([3, 5], 2)

In [95]:
# using tuple method you can convert any other object type to list
list = ['a','b','c']
print(list)
tup2 = tuple(list)
tup2

['a', 'b', 'c']

('a', 'b', 'c')

In [96]:
# we can concatenate tuple using + operator
tup3 = tup1 + tup2
tup3

([3, 5], 2, 'a', 'b', 'c')

In [97]:
# If we do multiplication on tuple with integer, it will concatenate that many times of integer value
tup1*2

([3, 5], 2, [3, 5], 2)

In [98]:
#unpacking tuples
# sequence is also maintained
tup = (4,5,6)
a,b,c = tup
a,b,c

(4, 5, 6)

In [99]:
# value swapping in traditional programming language
print(a,b)
tmp = a
a = b
b= tmp
print(a,b)
# But in python we can swap directly
a,b = b,a
print(a,b)

4 5
5 4
4 5

In [108]:
values =10,11,12,13,14,10
a,b,c,*d = values
d

[13, 14, 10]

In [107]:
values =10,11,12,13,14
a,b,*rest = values
rest

[12, 13, 14]

In [111]:
# tuple methods : count() and index() both takes only 1 argument i.e. element
print(values.count(10),values.index(13))

2 3

## LIST

In [2]:
a_list = [1,2,3,4]
a_list

[1, 2, 3, 4]

In [1]:
list1 = [1,2,3]
list1

[1, 2, 3]

In [5]:
b_list = list(range(0,5,2))
b_list

[0, 2, 4]

In [6]:
b_list = list(range(5))
b_list

[0, 1, 2, 3, 4]

In [7]:
#tuple creation
a = 'a','b',1
a

('a', 'b', 1)

In [8]:
a = 1,2,3
print(a)
c_list = list(a)
c_list

(1, 2, 3)

[1, 2, 3]

In [9]:
# list can contain tupple
list1 = [1,2,(3,4)]
list1

[1, 2, (3, 4)]

# List methods
append()
clear()
copy()
count()
extend()
index()
insert()
pop()
remove()
reverse()
sort()

In [18]:
# append adds element at last position
print(a_list)
a_list.append(5)
a_list

[1, 2, 3]

[1, 2, 3, 5]

In [17]:
tup1 = (6,7)
#a_list.append(tup1)
a_list
a_list.pop()
a_list

[1, 2, 3]

In [19]:
# clear does not take any argument but removes all elements from list
a_list.clear()
a_list

[]

In [21]:
# it copies existing list to any other variable
a_list = b_list.copy()
a_list

[0, 1, 2, 3, 4]

In [24]:
# counts a particular element in list
a_list.count(2)

2

In [25]:
#  insert function insert an element at specified position: insert(position,value)
a_list.insert(2,6)
a_list

[0, 1, 6, 2, 2, 3, 4]

In [27]:
# extend() : merge two lists or insert multiple elements in one list.
# also extend is faster than append
a_list.extend([11,11])
a_list

[0, 1, 6, 2, 2, 3, 4, 9, 10, 11, 11]

In [28]:
# difference between append , extend and insert
a_list.append([11,12])
a_list

[0, 1, 6, 2, 2, 3, 4, 9, 10, 11, 11, [11, 12]]

In [29]:
# insert() insert the element at particular position, list.insert(position,value)
a_list.insert(2,9)
a_list

[0, 1, 9, 6, 2, 2, 3, 4, 9, 10, 11, 11, [11, 12]]

In [32]:
# index gives index position of first occurance of the element, index(element)
a_list.index(9)

2

In [33]:
# pop() takes out last element from list
a_list.pop()
a_list

[0, 1, 9, 6, 2, 2, 3, 4, 9, 10, 11, 11]

In [35]:
# removes first occurance of the specified element remove(element)
a_list.remove(11)
a_list

[0, 1, 9, 6, 2, 2, 3, 4, 9, 10, 11]

In [36]:
# reverse(): it reverses all elements from last to first.
a_list.reverse()
a_list

[11, 10, 9, 4, 3, 2, 2, 6, 9, 1, 0]

In [40]:
11 not in a_list

False

In [41]:
# Checking element in list
# checking element in list is really faster because python does linear scan accross list value whereas for other objects it has to go through hash tables
print(3 in a_list,3 not in a_list)

True False

In [43]:
# sort(key=None,reverse=False) : it sorts all element of list in ascending order by default
# by default in ascending order but can be changed to descending order by making sort(reverse = True)
a_list.sort() # ascending order
print("Ascending order : ",a_list)
a_list.sort(reverse=True) # descending order
print("Descending order : ",a_list)

Ascending order :  [0, 1, 2, 2, 3, 4, 6, 9, 9, 10, 11]
Descending order :  [11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0]

In [44]:
#a_list.sort(key=len)
c_list= ['a','ab','abcde','abcd','abc']
c_list.sort(key=len)
print("Asceding order of string based on length of string : ",c_list)
c_list.sort(key=len,reverse=True) # descending order
print("Asceding order of string based on length of string : ",c_list)

Asceding order of string based on length of string :  ['a', 'ab', 'abc', 'abcd', 'abcde']
Asceding order of string based on length of string :  ['abcde', 'abcd', 'abc', 'ab', 'a']

In [47]:
#Concatenating list using + operator same like tuple
d_list = a_list + c_list
print(a_list,c_list)
d_list

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0] ['abcde', 'abcd', 'abc', 'ab', 'a']

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 'abcde', 'abcd', 'abc', 'ab', 'a']

In [50]:
# multiplication will do concatenation that many times of specified value
a_list*2
# Concatenating list by using + operator is expensive because new list to be created and object to be copied over. 
# use extend is faster and convenient , prefer it.

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0]

In [51]:
## Optional not much important
# to know where exactly the elements should be placed
# bisect does not check that list is sorted or not. 
print(a_list)
import bisect
bisect.bisect(a_list,4)

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0]

11

In [52]:
# insort() actuall keeps the element at that place
bisect.insort(a_list,8)
a_list

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 8]

In [53]:
## very important
# Slicing
a_list[2:5]

[9, 9, 6]

In [54]:
a_list[:2]

[11, 10]

In [57]:
a_list[2:]
a_list[-4:-2]

[2, 1]

In [58]:
print(a_list[3:],a_list[-3:],a_list[-3:-2])

[9, 6, 4, 3, 2, 2, 1, 0, 8] [1, 0, 8] [1]

In [61]:
print(a_list)
print(a_list[::2])
a_list[::3]

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 8]
[11, 9, 6, 3, 2, 0]

[11, 9, 3, 1]

In [62]:
print(a_list)
# Take every other element except element using :: 
print(a_list[::2],a_list[::3])

[11, 10, 9, 9, 6, 4, 3, 2, 2, 1, 0, 8]
[11, 9, 6, 3, 2, 0] [11, 9, 3, 1]

In [64]:
# reverse the list using slicing concept
a_list[::-2]

[8, 1, 2, 4, 9, 10]

In [66]:
a_list[::-3]

[8, 2, 4, 9]

In [2]:
c_list = ['abcde', 'abcd', 'abc', 'ab', 'a']
c_list
#enumerate(c_list)

<enumerate object at 0x000001C4B9E51D00>

In [3]:
# enumerate : keeps track of position and value. It returns a sequence of (i,value) tuples:
copy_list = {}
for i,v in enumerate(c_list):
    copy_list[i]=v
print(copy_list)

{0: 'abcde', 1: 'abcd', 2: 'abc', 3: 'ab', 4: 'a'}

In [71]:
print(c_list)
copy_list

['abcde', 'abcd', 'abc', 'ab', 'a']

{0: 'abcde', 1: 'abcd', 2: 'abc', 3: 'ab', 4: 'a'}

In [72]:
# sorted method accept the same argument as sort method in list
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [76]:
# zip pairs up the elements of a number of lists, tuples or other sequences to create a list of tuples
seq1 = ['a','b','c']
seq2 = ['d','e','f']
seq3 = (True,False,True)
zipped = zip(seq1,seq2,seq3)
list(zipped)

[('a', 'd', True), ('b', 'e', False), ('c', 'f', True)]

In [77]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:a,d
1:b,e
2:c,f

In [78]:
# reversed method
print(list(range(10)))
list(reversed(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Dictionary

In [112]:
# key value pair, use {} to create dictionary
dict1 = {}
dict2 = {'a':1,'b':2,'c':3}
dict2

{'a': 1, 'b': 2, 'c': 3}

In [114]:
# accessing elements
dict2['a']

1

In [115]:
# 
dict2['a'] = 9
dict2

{'a': 9, 'b': 2, 'c': 3}

In [117]:
dict2.keys()

dict_keys(['a', 'b', 'c'])

In [118]:
dict2.values()

dict_values([9, 2, 3])

In [121]:
print(dict2)
dict1

{'a': 9, 'b': 2, 'c': 3}

{}